// css header
.header {
    background-color: $primary;
    width: 100%;
    // overflow: hidden;
    position: relative;
}

.hd-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.6rem 0;

}

.hd-logo {

}

.custom-logo-link {

}

.custom-logo {

}

.hd-menu {
    @include md {
        display: block;
        width: 60vw;
        height: 100vh;
        background-color: $primary;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        padding: 5.6rem;
    }
}

.hd-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    @include md {
        display: block;
    }
}

.hd-menu-item {
    margin: 0 1rem;
    padding: 0 1rem;
    text-decoration: none;
    @include lgX {
        margin: 0 0.5rem;
        padding: 0 0.5rem;
    }
    @include md {
        padding: 1.4rem 0;
        text-align: right;
    }
    // };
    // @include xs {

    // };
    // @include xss {

    // }
}

.hd-menu-item {
    position: relative;
}

.sub-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: #1A1A1A;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    visibility: hidden;
    opacity: 0;
    @include md {
        top: 0;
        left: 10%;
    }
}

.sub-nav::before {
    content: '';
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    @include md {
        width: 10px;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: green;
    }
}

.sub-menu {
    text-align: center;
}

.sub-item {
    padding: 2rem 0;
}

.hd-menu-item .sub-item a {
    color: $white;
    padding: 0 2rem;
    width: 100%;
}

.hd-menu-item .sub-item:hover {
    cursor: pointer;
    background-color: $primary;
}

.hd-menu-item:hover .sub-nav {
    visibility: visible;
    top: 0;
    left: -50%;
    transition: 0.5s;
    opacity: 1;
}

.hd-menu-item:first-child {
    margin-left: 0;
    padding-left: 0;
    @include md {
        margin: 0 0.5rem;
        padding: 1.4rem 0rem;
    }
}

.hd-menu-item:last-child {
    margin-right: 0;
    padding-right: 0;


}

.hd-menu-item a {
    color: $body-text;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    @include lgX {
        font-size: 1.4rem;
    }

    // @include smX {

    // }
}

.hd-menu-item:hover a {
    color: $white;
    cursor: pointer;
}

.hd-menu-item.current-menu-item a {
    color: $white;
}

.btn {
    display: none;
    @include md {
        display: block;
    }
}

.btn-menu {
    max-width: 2.8rem;
}

.bg-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-page.active {
    opacity: 1;
    visibility: visible;
}