// css header
.header {
    background-color: $primary;
    width: 100%;
    height: 20.5rem;
}

.hd-ctn {

}

.hd-logo {

}

.custom-logo-link {

}

.custom-logo {

}

.hd-menu {

}

.hd-menu-list {

}

.hd-menu-item {

}
