:root {
    /* colors - tuỳ chỉnh theo thiết kế */
    --bg-main: #fff;
    --white: #fff;
    --black: #000;
    --black-main: #231f20;

    --primary: #B72328;
    --body-text: #1A1A1A;

    --line: #ccc;
}

@media screen and (max-width:1440px){
}

@media screen and (max-width:1200px){
    .hd-menu-item {
        margin: 0;
    }
    .hd-menu-item:first-child {
        padding: 1rem;
    }
}

@media screen and (max-width:992px) {
    .btn {
        display: block;
    }
    .hd-menu-list {
        display: block;
        width: 4vw;
        height: 100vh;
        text-align: right;
        background-color: var(--primary);
        padding: 5.6rem 2.6rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:576px){
    
}

@media screen and (max-width:440px){
    
}
