// CSS HOMEPAGE
.schero {
  height: 100vh;
  margin: {
    left: auto;
    right: auto;
  }
}

.galerry-tt {
  color: transparent;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}